	
	@font-face { 
		font-family: Copy0855; 
		src: url('font/copy0855.ttf'); 
	} 
	
	body {
		overflow:hidden;
		background:#222;
		
		font-family: Copy0855, Arial, sans-serif;
	}
	
/* INTRO */
	#main-canvas,
	#content,
	#drop-area {
		position:absolute;
		left:0;
		top:0;
	}
	
	#content {
		height:100%;
		width:100%;
	}
	
	#drop-area {
		height:100%;
		width:75%;
		/* 
		background:#333;
		opacity: .2;
		 */
	}
	
/* MENU */
	#menu {
		
	}
	
	#menu a {
		font-size:8px;
		position:absolute;
		display:block;
		color:#fff;
		text-decoration:none;
		text-align:center;
		
		outline: none;
	}
	
	#pull {
		right:11%;
		top:49%;
		
		width:70px;
		height:20px;
		padding:20px 34px 20px 6px;
		margin-top:-18px;
	}
	#pull.menu-displayed {
		left:33.3%;
		top : 50%;
		text-align: right;
		margin:-14px 0px 0px 14px;
		padding:17px 34px 23px 6px;
	}
	#pull.menu-current {
		background: url(/img/about-select.png) no-repeat right top;
	}
	#pull span {
		margin-right:5px;
	}
	
	#menu #work,
	#menu #lifestream,
	#menu #links {
		left:33.3%;
		top:50%;
		text-align:center;
		padding:20px;
		display:none;
	}
	#menu #work span,
	#menu #lifestream span,
	#menu #links span {
		display:none;
	}
	
	#lifestream {
		margin :-175px 0 0 125px;
	}
	#lifestream span {
		padding-bottom:20px;
	}
	#lifestream.menu-current {
		background: url(/img/lifestream-select.png) no-repeat 25px 35px;
	}
	#links {
		margin :-83px 0 0 280px;
	}
	#links span {
		padding-left:30px;
	}
	#links.menu-current {
		background: url(/img/links-select.png) no-repeat 6px 8px;
	}
	#work {
		margin : 50px 0 0 210px;
	}
	#work span {
		padding-top:20px;
	}
	#work.menu-current {
		background: url(/img/work-select.png) no-repeat left top;
	}
	
	
	#menu .icon {
		display:none;
		position:absolute;
		left:33.3%;
		top:50%;
		
		width:182px;
		height:182px;
		
		margin :-115px 0 0 115px;
		overflow:hidden;
	}
	
/* MENU ABOUT */
/* MENU WORKS */
	#menu.page-work {
		
	}
	#menu.page-work a {
		display:block !important;
		width:20px;
		height:20px;
		margin:-20px 0 0;
		
		-webkit-transition: .8s linear;
		-moz-transition: .8s linear;
		-o-transition: .8s linear;
		transition: .8s linear;
	}
	#menu.page-work #pull {
		left:20px;
		padding:10px;
		background:url(/img/circle-1.png) no-repeat center center;
	}
	/* ca sera reparer en meme temps que la reparation du menu a letat initial */
	#menu.page-work #pull span {
		display:none;
	}
	#menu.page-work #links {
		left:60px;
		padding:10px;
		background:url(/img/circle-2.png) no-repeat center center;
	}
	#menu.page-work #lifestream {
		left:100px;
		padding:10px;
		background:url(/img/circle-3.png) no-repeat center center;
	}
	#menu.page-work #work {
		left:200px;
		background:url(/img/circle-work.png) no-repeat center center;
	}
	#menu.page-work #work span {
		display:none !important;
	}
/* MENU LIFESTREAM */
/* MENU LINKS */
	

/* FOOTER */
	
	#footer {
		position:absolute;
		right:20px;
		bottom:20px;
	}
	#footer ul {
		list-style:none;
		margin:0;
		padding:0;
	}
	#footer ul li {
		cursor:default;
		color:#555;
		float:left;
		font-size:8px;
		display:none;
	}
	#footer ul li a {
		color:#555;
		text-decoration:none;
	}
	#footer ul li a:hover {
		color:#fff;
	}


