
	@font-face { 
		font-family: Copy0855; 
		src: url('font/copy0855.ttf'); 
	} 
	
	body {
		overflow:hidden;
		background:#222;
		
		font-family: Copy0855, Arial, sans-serif;
		color:#fff;
	}
	
	a {
		color:#fff;
		text-decoration:none;
	}
	ul {
		list-style:none;
		margin:0;
		padding:0;
	}
	
/* INTRO */
	#main-canvas,
	#wrapper {
		position:absolute;
		left:0;
		top:0;
	}
	
	#wrapper {
		height:100%;
		width:100%;
	}

/* NAV */
	nav {
		float:left;
		overflow:hidden;
		
		height:182px;
		margin-top:-91px;
		
		position:absolute;
		left:10px;
		top:50%;
		width:282px;
	}
	nav a {
		display:block;
		float:left;
		font-size:8px;
		width:30px;
		height:30px;
		background:url(/img/menu/circle-1.png) no-repeat center center;
	}
	nav a span {
		display:none;
		text-align:center;
		margin-top:-6px;
	}
	nav a#lifestream span {
		margin-left:-4px;
	}
	
	nav a.first,
	nav a.second,
	nav a.third {
		margin-top:76px;
	}
	nav a.first {
	}
	nav a.second {
		background-image:url(/img/menu/circle-2.png);
	}
	nav a.third {
		background-image:url(/img/menu/circle-3.png);
	}
	nav a.selected {
		float:right;
	}

/* ABOUT & LIFESTREAM */
	.page-about nav a.selected,
	.page-lifestream nav a.selected {
		width:182px;
		height:182px;
		background-image:url(/img/menu/menu-about.png);
	}
	.page-lifestream nav a.selected {
		background-image:url(/img/menu/menu-lifestream.png);
	}
	
/* WORKS & LINKS */
	.page-work nav,
	.page-links nav {
		width:214px;
	}
	.page-work nav a.selected,
	.page-links nav a.selected {
		width:114px;
		height:182px;
		background-image:url(/img/menu/menu-work.png);
	}
	.page-links nav a.selected {
		width:114px;
		height:182px;
		background-image:url(/img/menu/menu-links.png);
	}
	
/*
 * 
 * PAGE CONTENT
 * 
 */
 
/* BREADCRUMB */
	.breadcrumb {
		position:absolute;
		left:0;
		top:50%;
		
		font-size:8px;
		font-weight:normal;
		height:22px;
	}
	.breadcrumb li {
		display:inline;
	}
	.breadcrumb li.link,
	.breadcrumb li.link a {
		color:#666;
	}
	.breadcrumb li.link a:hover {
		color:#888;
	}
	.breadcrumb li.current {
		font-size:18px;
		font-family:Arial, sans-serif;
		margin-left:5px;
	}

/* WORKS CONTENT */
	.page-work .breadcrumb {
		margin:-15px 0 0 250px;
	}
	
/* ABOUT CONTENT */
	.page-about .breadcrumb {
		margin:-15px 0 0 320px;
	}
	.page-about p {
		position:absolute;
		top:50%;
		left:0;
		
		margin:-170px 0 0 545px;
		width:230px;
		color:#777;
		font-size:8px;
		line-height:20px;
	}
	.page-about .cv {
		position:absolute;
		top:50%;
		right:50px;
		
		color:#bbb;
		font-size:8px;
		display:block;
		padding-top:20px;
		margin-top:-40px;
		background:url(/img/about/bg_cv_24.png) no-repeat center -20px;
	}
	.page-about .cv:hover {
		background-position:center top;
	}
	.page-about .cv span {
		display:block;
		background:#333;
		padding:8px;
		
		border-radius:15px;
	}
	
	
/* LIFESTREAM CONTENT */
	.page-lifestream .breadcrumb {
		margin:-15px 0 0 320px;
	}
	
/* LINKS CONTENT */
	.page-links .breadcrumb {
		margin:-15px 0 0 250px;
	}
	.page-links #page {
		height:520px;
	}
	.page-links .content {
		position:absolute;
		left:0;
		top:50%;
	
		height:520px;
		width:225px;
		margin:-260px 0 0 470px;
		overflow:hidden;
		
		font-size:8px;
	}
	.page-links .container {
		height:520px;
		width:400px;
		margin-left:-127px;
	}
	.page-links .content li a {
		color:#777;
	}
	.page-links .content li a:hover {
		color:#ccc;
	}
	.page-links .content ul {
		padding:119px 50px 50px;
	}
	.page-links .content ul li {
		line-height:30px;
	}
	
		/* Line */
		.page-links .line {
			height:100%;
			width:225px;
			background:url(/img/links/bg_line_8.png) no-repeat 19px center;
			
			position:absolute;
			left:455px;
			top:0;
			
			z-index:1;
		}
		.page-links .line-toggled {
			background-position:136px center;
			
			-webkit-transform:rotate(5deg);
			-moz-transform:rotate(5deg);
			-o-transform:rotate(5deg);
			-ms-transform:rotate(5deg);
			transform:rotate(5deg);
			
		}
		
		/* Gobelins */
		.page-links .gobelins {
			float:left;
			height:100%;
			color:#aaa;
			
			position:relative;
			z-index:2;
		}
		.page-links .gobelins ul li.subtitle {
			margin-top:50px;
		}
		.page-links .link-az {
			display:block;
			margin-top:50px;
			padding:3px;
			float:left;
			
			background:url(/img/links/bg_links_8.png) no-repeat -41px top;
		}
	
		/* A-Z */
		.page-links .a-z {
			float:left;
			height:100%;
			
			position:relative;
			z-index:2;
		}
		.page-links .link-gobelins {
			display:block;
			text-align:right;
			float:right;
			padding:3px;
			margin:50px 8px 0 0;
			
			background:url(/img/links/bg_links_8.png) no-repeat 41px top;
		}
		
		.page-links .content .link-az:hover,
		.page-links .content .link-gobelins:hover,
		.page-links .content .selected {
			background-position:left top;
			color:#000;
		}
		
		
	


/* FOOTER */
	
	footer {
		position:absolute;
		right:20px;
		bottom:20px;
	}
	footer ul {
		list-style:none;
		margin:0;
		padding:0;
	}
	footer ul li {
		cursor:default;
		color:#555;
		float:left;
		font-size:8px;
	}
	footer ul li a {
		color:#555;
		text-decoration:none;
	}
	footer ul li a:hover {
		color:#fff;
	}


