/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; /*overflow-y: scroll;*/ -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 8px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #fff; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 */

::-moz-selection { background: #222; color: #fff; text-shadow: none; }
::selection { background: #222; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Nicolas Pigelet
   ========================================================================== */

/* GENERAL */
	@font-face {
		font-family: Copy0855;
		src: url('font/copy0855.ttf');
	}
	@font-face {
		font-family: Abadi;
		src: url('font/AbadiMTStd-Light.otf');
	}
	html, body {
		height:100%;
		width:100%;
	}
	body {
		font-family: Copy0855, Arial, sans-serif;
		overflow: hidden;
	}
	a {
		color:#fff;
		text-decoration:none;
		outline: none !important;
	}
	a:hover {
		text-decoration:none;
		outline: none;
	}
	ul {
		list-style:none;
		margin:0;
		padding:0;
	}
	
/* CONTAINER */
	#wrapper {
		position:absolute;
		left:0;
		top:0;
		overflow: hidden;
		color: #fff;
		
		display: none;
		height:100%;
		width:100%;
		z-index: 3;
	}
	.page-about #wrapper,
	.page-links #wrapper,
	.page-stuffs #wrapper,
	.page-work #wrapper {
		display: block;
	}
	.page-about #home,
	.page-links #home,
	.page-stuffs #home,
	.page-work #home {
		display:none;
	}
	
	.content-loading {
		position: absolute;
		top: 50%;
		left: 570px;
		margin-top: -8px;
	}
	
/* NAV */
	nav {
		float:left;
		overflow:hidden;

		height:182px;
		margin-top:-91px;

		position:absolute;
		left:10px;
		top:50%;
		width:282px;
	}
	nav a {
		display:block;
		float:left;
		font-size:8px;
		width:30px;
		height:30px;
		overflow: hidden;
		position: relative;
		/*background:url(/img/menu/circle-1.png) no-repeat center center;*/
		outline: none;
	}
	nav a span {
		display:block;
		width: 5px;
		height: 5px;
		background: #fff;
		overflow: hidden;
		text-indent: -5000px;
		margin: -2px 0 0 -2px;
		outline: none;
		position: absolute;
		top: 50%;
		left: 50%;

		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}

	nav a.first,
	nav a.second,
	nav a.third {
		margin-top:76px;
	}
	nav a.first span {
		background: #aaa;
	}
	nav a.second span {
		background: #888;
	}
	nav a.third span {
		background: #555;
	}
	nav a.selected {
		float:right;
		width:182px;
		height:182px;
	}
	nav a.selected span {
		width:166px;
		height:166px;
		margin: -91px 0 0 -91px;
		background: none no-repeat center center;
		border: 8px solid #333;

		-moz-border-radius:91px;
		-webkit-border-radius:91px;
		border-radius:91px;
	}

	nav a#about.selected span {
		background: url(/img/about/portrait.png) no-repeat center center;
	}
	nav a#links.selected span,
	nav a#work.selected span {
		background-repeat: no-repeat;
		background-position: 50% 100px;
	}

/* ABOUT & STUFFS */
	.page-about nav a.selected span {
		/*background-image: url(/img/menu/menu-about.png);*/
	}
	.page-stuffs nav a.selected {
		/*background-image:url(/img/menu/menu-lifestream.png);*/
	}

/* WORKS & LINKS */
	.page-links nav a.selected {
		/*background-image:url(/img/menu/menu-links.png);*/
	}
	.page-work nav a.selected span,
	.page-links nav a.selected span {
		width:98px;
		height:98px;
		margin: -57px 0 0 -57px;

		-moz-border-radius:57px;
		-webkit-border-radius:57px;
		border-radius:57px;
	}

	
/* WRAPPER */
	#page {
		height: 100%;
	}
/* DETAILS */
	#detail-container {
		display: none;
	}


/*
 *
 * PAGE CONTENT
 *
 */

/* BREADCRUMB */
	.breadcrumb {
		position:absolute;
		left:0;
		top:50%;
		margin:-15px 0 0 320px;

		font-size:8px;
		font-weight:normal;
		height:22px;
	}
	.breadcrumb li {
		display:inline;
	}
	.breadcrumb li.link-first {
		display: inline-block;
		margin-top: 8px;
	}
	.breadcrumb li.link,
	.breadcrumb li.link a {
		color:#666;
	}
	.breadcrumb li.link a:hover {
		color:#888;
	}
	.breadcrumb li.transition {
		font-family:Abadi, Arial, sans-serif;
	}
	.breadcrumb li.current {
		font-size:18px;
		font-family:Abadi, Arial, sans-serif;
		margin-left:5px;
	}

/* WORKS CONTENT */
	.page-work #works-lines,
	.page-work .list-works {
		position:absolute;
		top:50%;
		left:400px;
		z-index: 9;
		
		height:50%;
		width:50%;
		margin-top:-10%;
	}
	.page-work .list-works {
		z-index: 10;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.page-work #works-lines,
		.page-work .list-works {
			margin-top:-25%;
		}
	}
	
	.page-work .list-works li a {
		display:block;

		width:50px;
		height:50px;
		background: url(/img/work/bg_item_24.png) no-repeat center top;

		overflow:hidden;
		text-indent:-5000px;
		z-index: 1;
		opacity:0;
	}
	.page-work .list-works li a:hover {
		background-position:center -50px;
	}
	.page-work .list-works li a.featured {
		background-position: center -100px;
		z-index: 2;
	}
	.page-work .list-works li a.featured:hover {
		background-position: center -150px;
	}

	/* WORK DETAIL */
		.page-work-detail #detail-container {
			display:block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;

			width:100%;
			height:100%;
		}
		.page-work-detail #detail-background {
			display:block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;

			width:100%;
			height:100%;
		}
		.page-work-detail #detail {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 110;

			color: #000;
			width:100%;
			height:100%;
		}
		.page-work-detail #detail .work-detail {
			display: block;
			position: relative;
			margin:20px 18px 0 20px;
			overflow: hidden;
			height: 100%;
		}
		.page-work-detail #detail .work-detail span.work-detail-content {
			display: block;
			width:100%;
			height:100%;
		}

		.page-work-detail .close-detail {
			display: block;
			position:absolute;
			right: 10px;
			top: 10px;

			width:15px;
			height:15px;
			background:url(/img/work/btn_close_8.png) no-repeat left top;
			overflow: hidden;
			text-indent: -5000px;
		}
		.page-work-detail .close-detail.white {
			background-image:url(/img/work/btn_close-white_8.png);
		}
		
		/* LEFT COL WORK DETAILS */
		.page-work-detail .navigation-work {
			display: block;
			float: left;
			width: 340px;
			height: 100%;
		}
			/* NAV WORK DETAILS */
				.page-work-detail .nav-work-details {
					display: block;
					float: left;
					width: 80px;
					
					position: absolute;
					top:200px;
				}
				.page-work-detail .nav-work-details li {
					display: block;
					width: 80px;
					height: 24px;
				}
				.page-work-detail .nav-work-details li a {
					display: block;
					padding: 7px 10px;
				}
				.page-work-detail .nav-work-details li a span {
					display: block;
					width: 5px;
					height: 5px;
					border-radius:5px;
					background:#ccc;
					margin: 0 auto;
				}
				.page-work-detail .nav-work-details li a img {
					display: block;
					width: 0;
					height: 0;
					border-radius:25px;
					margin: 5px;
				}
				.page-work-detail .nav-work-details li.current {
					width: 80px;
					height: 74px;
				}
				.page-work-detail .nav-work-details li.current a {
					width: 60px;
					height: 60px;
					overflow: hidden;
				}
				.page-work-detail .nav-work-details li.current a span {
					width: 60px;
					height: 60px;
					border-radius:30px;
					overflow: hidden;
				}
				.page-work-detail .nav-work-details li.current a img {
					width: 50px;
					height: 50px;
				}
			/* BREADCRUMB WORK DETAILS */
				.page-work-detail .breadcrumb-work-details {
					display: block;
					width: auto;
					height: auto;
					margin-top: -5px;
					
					position: absolute;
					top: 50%;
					left: 80px;
				}
				.page-work-detail .breadcrumb-work-details li {
					display: block;
					float: left;
					color:#bbb;
				}
				.page-work-detail .breadcrumb-work-details li a {
					color:#bbb;
				}
				.page-work-detail .breadcrumb-work-details li a.slug {
					display: block;
					color:#333;
					font-family: Abadi, Arial, sans-serif;
					font-size: 18px;
					margin-top: -8px;
				}

		/* CONTENT WORK DETAILS */
			.page-work-detail .project-detail {
				display: block;
				float: left;
				width: 635px;
				height: 620px;
				overflow: hidden;
				
				font-family: Abadi, Arial, sans-serif;
				font-size: 16px;
				
				position: absolute;
				top: 50%;
				left: 340px;
				margin-top: -310px;
				background: #ddd;
			}
			.page-work-detail .project-detail > li {
				height: 100%;
				overflow: hidden;
			}
			.page-work-detail .project-detail a {
				color: #333;
			}
			.page-work-detail .project-detail img,
			.page-work-detail .project-detail .video,
			.page-work-detail .project-detail .title,
			.page-work-detail .project-detail .text {
				display: block;
			}
			
			.page-work-detail .project-detail .title {
				font-size: 18px;
				margin: 10px 0;
			}
			.page-work-detail .project-detail .text {
				text-align: justify;
				max-width: 95%;
			}
			/* LEFT COLUMN */
			.page-work-detail .project-detail .left-column {
				float: left;
				width: 435px;
				overflow: hidden;
			}
			.page-work-detail .project-detail .left-column img {
				max-width: 100%;
			}
			
			/* RESPONSIVE VIDEO EMBED */
			.video iframe,
			.video object,
			.video embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.video {
				position: relative;
				padding-bottom: 56.25%;
				padding-top: 30px;
				height: 0;
				overflow: hidden;
			}
			
			/* RIGHT COLUMN */
			.page-work-detail .project-detail .right-column {
				float: left;
				width: 200px;
				height:100%;
				overflow: hidden;
				
			}
			.page-work-detail .project-detail .right-column .color {
				display: block;
				width: 100%;
				height: 30%;
			}
			
			.page-work-detail .project-detail .right-column img {
				max-width: 100%;
			}
		/* TAGS */
		.page-work-detail .list-tags {
			position: absolute;
			left:20px;
			bottom:32px;
			list-style: none;
		}
		.page-work-detail .list-tags li {
			padding:0;
			margin:0;
			color:#fff;
		}
		.page-work-detail .list-tags li .tags-title {
			color:#555;
		}
		.page-work-detail .list-tags li .tags-array {
			color:#888;
		}

/* ABOUT CONTENT */
	.page-about p {
		position:absolute;
		top:50%;
		left:0;

		margin:-80px 0 0 545px;
		width:290px;
		color:#bbb;
		font-family: Abadi, Arial, sans-serif;
		font-size:14px;
		line-height:18px;
	}
	.page-about p a {
		color:#ddd;
		text-decoration: underline;
	}
	.page-about p a:hover {
		text-decoration: none;
	}
	.page-about .cv {
		position:absolute;
		top:50%;
		right:50px;

		color:#ddd;
		font-size:8px;
		display:block;
		padding-top:20px;
		margin-top:-40px;
		background:url(/img/about/bg_cv_24.png) no-repeat center -11px;
	}
	.page-about .cv:hover {
		background-position:center top;
	}
	.page-about .cv span {
		display:block;
		background:#333;
		padding:13px 12px;
		border-radius:40px;
	}

/* STUFFS CONTENT */
	.page-stuffs {
		
	}
	.page-stuffs .content {
		position:absolute;
		top:0;
		left:0;

		width: 100%;
		margin:0 0 0 545px;
		color:#fff;
		font-family: Abadi, Arial, sans-serif;
		font-size:14px;
		line-height:18px;
	}
	.page-stuffs .content,
	.page-stuffs .content .articles {
		height: 100%;
	}
	.page-stuffs .content .articles li {
		height: 100%;
		width:100%;
		color: #bbb;
	}
	.page-stuffs .content .articles li .stuff-content {
		position: absolute;
		width: 290px;
	}
	.page-stuffs .content .articles li .stuff-content iframe {
		margin-bottom: 10px;
	}
	.page-stuffs .content .articles li .title {
		display: block;
		font-size: 18px;
		margin-bottom: 20px;
	}
	.page-stuffs .content .articles li .text {
	}
	.page-stuffs .content .articles li a {
		color: #ddd;
		text-decoration: underline;
	}
	.page-stuffs .content .articles li a:hover {
		text-decoration: none;
	}
	.page-stuffs .content .articles li .small {
		top: 40%;
	}

	.page-stuffs .content .nav-stuffs {
		position: absolute;
		top: 40%;
		right: 30px;
	}
	.page-stuffs .content .nav-stuffs li {
		display: block;
		width:20px;
		height:20px;
		margin: 10px 30px;
	}
	.page-stuffs .content .nav-stuffs li a {
		display: block;
		height: 10px;
		width: 100%;
		position:relative;
		padding-top: 10px;
	}
	.page-stuffs .content .nav-stuffs li a span {
		display: block;
		width:6px;
		height:6px;

		text-indent: -5000px;
		overflow: hidden;
		background:#333;
		border-radius:3px;
		margin:0 auto;
	}
	.page-stuffs .content .nav-stuffs li a:hover span {
		background:#666;
	}
	.page-stuffs .content .nav-stuffs li.current {
		width:80px;
		height:80px;
		background:#333;
		border-radius:40px;
		margin: 0;
	}
	.page-stuffs .content .nav-stuffs li.current a {
		display: block;
		padding-top: 0;
	}
	.page-stuffs .content .nav-stuffs li.current a span {
		display: block;
		color: #fff;
		font-size: 8px;
		font-family: Copy0855, Arial, sans-serif;
		text-align: center;
		padding: 32px 0 28px;
		text-indent: 0;
		background:none;

		border-radius:0;
		width:auto;
		height:auto;
	}

/* LINKS CONTENT */
	.page-links #page {
		height:520px;
	}
	.page-links .content {
		position:absolute;
		left:0;
		top:50%;

		height:520px;
		width:225px;
		margin:-260px 0 0 570px;
		overflow:hidden;

		font-size:8px;
	}
	.page-links .container {
		height:520px;
		width:400px;
		margin-left:-127px;l
	}
	.page-links .content a {
		color:#777;
	}
	.page-links .content li a:hover {
		color:#ccc;
	}
	.page-links .content ul {
		padding:119px 50px 50px;
	}
	.page-links .content ul li {
		line-height:30px;
	}

		/* Line */
		.page-links .line {
			height:100%;
			width:225px;
			background:url(/img/links/bg_line_8.png) no-repeat 19px center;
			position:absolute;
			left:555px;
			top:0;
			z-index:12;

			-webkit-transform:rotate(2deg);
			-moz-transform:rotate(2deg);
			-o-transform:rotate(2deg);
			-ms-transform:rotate(2deg);
			transform:rotate(2deg);
		}
		.page-links .line-toggled {
			background-position:136px center;

			-webkit-transform:rotate(3deg);
			-moz-transform:rotate(3deg);
			-o-transform:rotate(3deg);
			-ms-transform:rotate(3deg);
			transform:rotate(3deg);

		}

		/* Gobelins */
		.page-links .gobelins {
			float:left;
			height:100%;
			color:#aaa;

			position:relative;
			z-index:13;
		}
		.page-links .gobelins ul li.subtitle {
			margin-top:50px;
		}
		.page-links .link-gobelins {
			display:block;
			margin-top:50px;
			padding:3px;
			float:left;
			background:url(/img/links/bg_links_8.png) no-repeat -41px top;
			
			position: relative;
			z-index:1;
		}

		/* A-Z */
		.page-links .a-z {
			float:left;
			height:100%;

			position:relative;
			z-index:13;
		}
		.page-links .link-az {
			display:block;
			text-align:right;
			float:right;
			padding:3px;
			margin:50px 8px 0 0;
			background:url(/img/links/bg_links_8.png) no-repeat 41px top;
			
			position: relative;
			z-index:1;
		}

		.page-links .content .link-az:hover,
		.page-links .content .link-gobelins:hover,
		.page-links .content .selected {
			background-position:left top;
			color:#000;
		}
		

/* FOOTER */
	footer {
		position:absolute;
		right:0;
		bottom:0;
		padding:0 20px 15px 0;
		z-index:200;

		width:686px;
		/*background:url(/img/site/bg_footer_24.png) no-repeat right bottom;*/
	}
	footer ul {
		float:right;
		list-style:none;
		margin:0;
		padding:0;
	}
	footer ul li {
		cursor:default;
		color: #555;
		float:left;
		font-size:8px;
	}
	footer ul li a,
	footer ul li a:visited {
		color: #555;
		text-decoration:none;
	}
	footer ul li a:hover {
		color:#fff;
	}
	
	footer #credits {
		position: absolute;
		color:#555;
		right: 20px;
		top: 20px;
		display:none;
	} 
	
	footer #credits a {
		color:#888;
	}
	footer #credits a:hover {
		color:#fff;
	}


	/* raphael div */
	#home,
	#background {
		width:100%;
		height:100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	#background {
		z-index: 1;
	}
	#home {
		z-index: 2;
	}
	
	/* IE Disclaimer */
	#IE-disclaimer {
		width:100%;
		position: absolute;
		left: 0;
		top: 0;
		background:#f00;
		color:#fff;
		z-index: 999;
		
		font-family: Arial;
		font-size: 16px;
		padding:10px 20px;
	}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}

@media only screen and (max-width: 768px) {

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
