<p>
	The definition of my current job is &laquo;&nbsp;technology&nbsp;agnostic&nbsp;&raquo; developer.
	I do what's best for the project I'm working on.<br/>
	I mainly work on web-based stuffs (site, apps and web-apps), but I love to experiment
	new <abbr title="Human Computer Interaction">HCI</abbr> and more tangible stuffs.
	<br/><br/>
	Feel free to have a look at my latest projects either experiments, freelance or built at <a href="http://piratalondon.com" rel="external">Pirata.</a>
	<br/><br/>
	These days I'm working on CSS3 Animations, AS3 (PureMVC), AMD Architecture on Javascript.
	<br/><br/>
	My next projects involve : Java for Android, WebGL, Kinect, Arduino + Twitter API, Tangible objects&hellip;
</p>
<a class="cv" rel="external" href="http://www.linkedin.com/in/nicolaspigelet/en">
	<span>CV</span>
</a>