<ul class="articles" data-se="<%= selectedSlug %>">
	<% _.each(stuffs, function(stuff){ %>
	<li <% if ( (selectedSlug && stuff.get('slug') !== selectedSlug) || (!selectedSlug && stuff.get('index') != 0) ) { print('class="hidden"'); } %> data-index="<%= stuff.get('index') %>" data-img="<%= stuff.get('img') %>" data-slug="<%= stuff.get('slug') %>">
			<span class="stuff-content" style="top:<%= stuff.get('top') %>;" data-top="<%= stuff.get('top') %>">
				<span class="title"><%= stuff.get("title") %></span>
				<span class="text"><%= stuff.get("text") %></span>
			</span>
		</li>
	<% }); %>
</ul>
<ul class="nav-stuffs">
	<% _.each(stuffs, function(stuff){ %>
		<li <% if ( (selectedSlug && stuff.get('slug') === selectedSlug) || (!selectedSlug && stuff.get('index') == 0) ) { print('class="current"'); } %> data-index="<%= stuff.get('index') %>">
			<a href="/#/stuffs/<%= stuff.get('slug') %>"><span><%= stuff.get('date') %></span></a>
		</li>
	<% }); %>
</ul>