<div class="container">
	<div class="a-z">
		<a class="link-az" href="#">A-Z</a>
		<ul>
			<% _.each(links, function(link){
				if ( link.get("type") == "az" ) {
			%>
				<li><a data-slug="<%= link.get('slug') %>" rel="external" href="http://<%= link.get('url') %>"><%= link.get("name") %></a></li>
			<%
				}
			}); %>
		</ul>
	</div>
	<div class="gobelins">
		<a class="link-gobelins selected" href="#">Gobelins</a>
		<ul>
			<%
				_.each(links, function(link, i){
					if ( link.get("isSubtitle") && link.get("class") ) {
				%>
					<li class="subtitle"><%= link.get("name") %></li>
				<%
					} else if ( link.get("isSubtitle") ) {
				%>
					<li><%= link.get("name") %></li>
				<%
					} else if ( link.get("type") == "gobelins" ) {
				%>
					<li><a data-slug="<%= link.get('slug') %>" rel="external" href="http://<%= link.get('url') %>"><%= link.get("name") %></a></li>
				<%
					}
				});
			%>
		</ul>
	</div>
</div>