<div class="work-detail">
	<div class="navigation-work">
		<ul class="nav-work-details">
			<% _.each(projects, function(project){ %>
				<li <% if ( (selectedSlug && project.get('slug') === selectedSlug) || (!selectedSlug && project.get('index') == 0) ) { print('class="current"'); } %> data-index="<%= project.get('index') %>" data-slug="<%= project.get('slug') %>" data-white="<%= project.get('white') %>">
					<a href="/#/work/<%= project.get('slug') %>">
						<span>
							<img src="/img/work/projects/<%= project.get('slug') %>.jpg" alt="<%= project.get('slug') %>" />
						</span>
					</a>
				</li>
			<% }); %>
		</ul>
		<ul class="breadcrumb-work-details">
			<li><a href="/">Nicolas Pigelet</a>&nbsp;&nbsp;/</li>
			<li>&nbsp;&nbsp;<a href="/#/work">Work</a>&nbsp;/&nbsp;&nbsp;</li>
			<li><a class="slug" href="/#/work"></a></li>
		</ul>
	</div>
	<ul class="project-detail">
		<% _.each(projects, function(project){ %>
			<li <% if ( (selectedSlug && project.get('slug') !== selectedSlug) || (!selectedSlug && project.get('index') != 0) ) { print('class="hidden"'); } %> data-index="<%= project.get('index') %>" data-slug="<%= project.get('slug') %>">
				<span class="work-detail-content">
					<span class="left-column">
						<% if ( project.get('videoType') === "youtube" ) print( '<span class="video"><iframe src="http://www.youtube.com/embed/' + project.get('videoId') + '?rel=0" frameborder="0" allowfullscreen></iframe></span>' ); %>
						<% if ( project.get('videoType') === "vimeo" ) print( '<span class="video"><iframe src="http://player.vimeo.com/video/' + project.get('videoId') + '" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></span>' ); %>
						<% if ( project.get('videoType') !== "vimeo" && project.get('videoType') !== "youtube" ) print( '<img src="/img/work/illus/<%= project.get('slug') %>.jpg" alt="<%= project.get('title') %>" />' ); %>

						<span class="title"><%= project.get('title') %></span>
						<span class="text"><%= project.get('text') %></span>
					</span>
					<span class="right-column">
						<span class="color" style="background-color:#<%= project.get('color') %>;"></span>
						<% if ( project.get('videoType') === "vimeo" || project.get('videoType') === "youtube" ) print( '<img src="/img/work/illus/<%= project.get('slug') %>.jpg" alt="<%= project.get('title') %>" />' ); %>
						<% if ( project.get('linkText') !== "") print( '<a href="<%= project.get('link') %>" rel="external"><%= project.get('linkText') %></a>'); %>
						<ul class="tags">
						<% _.each(project.get("tags"), function(tag){ %>
							<li><%= tag %></li>
						<% }); %>
						</ul>
					</span>
				</span>
			</li>
		<% }); %>
	</ul>
	<a class="close-detail" href="/#/work">Close</a>
</div>