<div class="work-detail">
	<ul class="nav-work-details">
		<% _.each(projects, function(project){ %>
			<li <% if ( (selectedSlug && project.get('slug') !== selectedSlug) || (!selectedSlug && project.get('index') != 0) ) { print('class="hidden"'); } %> data-index="<%= project.get('index') %>" data-slug="<%= project.get('slug') %>">
				NAV PROJECT
			</li>
		<% }); %>
	</ul>
	<ul class="project-detail">
		<% _.each(projects, function(project){ %>
			<li <% if ( (selectedSlug && project.get('slug') !== selectedSlug) || (!selectedSlug && project.get('index') != 0) ) { print('class="hidden"'); } %> data-index="<%= project.get('index') %>" data-slug="<%= project.get('slug') %>">
				PROJECT
			</li>
		<% }); %>
	</ul>
	<a class="close-detail" href="/#/work">Close</a>
</div>